* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: Arial, sans-serif;
  }
  nav {
    background: #6f4e37
    ;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
    background: #d0bb94;
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 30px;
  }
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #6f4e37;
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: black;
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }
  

  .logo>a {
    text-decoration: none;
    color: white;
  }

  .rolunk>p {
    text-indent: 12px;
  }

  .elerhetoseg>table, th, td {
    border:1px solid black;
  }
  .elerhetoseg>table {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-collapse: collapse;
  }

  .elerhetoseg {
   
  }

  .logok {
    float: left;
    width: 150px;
    align-items: center;
    

  }

  
